.head{
    background-color: rgb(98, 98, 117);
    height: 60px;
    padding: 4px 11px 4px 11px;
    font-size: 30px;    
}
.container{
    /* display: flex; */
    /* flex-direction: ; */
    /* overflow: hidden; */
}