.viewAllMeetings{
direction: rtl;
}
.detailsOfMeeting{
border-bottom: 1px solid #E3E3E3;
display: flex;
text-align: right;
padding: 5%;
}

.detailsTimeAndDate{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    font-size: 12px; 
}
.dayAndDate{
    font-size: 15px;
    font-weight: 500;
}