.exactResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo';
    font-style: normal;
}
.searchResultIcon{
    margin-top: 2.688rem;
}
.headLine{
    margin-top: 1.875rem;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.roomCost{
    margin-top:2rem;
}
.footerButtons{
    display:flex;
    flex-direction: column;
    position:fixed;
    width: 20.625rem;
    bottom: 1.75rem;
    height: fit-content;
}