
.login-password-container{
    min-height: 60vh;
    margin-top: 3rem;
    direction: rtl;
}

.log-password-h4-css{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}

.reset-password-login{
    margin-top: 4rem;
    min-height: 85%;
}
